.pageHeading {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.pokedexContainer {
  margin: 0 auto;
  position: relative;
  width: 360px;
}

.logoContainer {
  position: absolute;
  top: 0px;
  right: 116px;
  font-weight: 700;
  color: #ffcc02;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.pokedexFront {
  position: relative;
  z-index: 3;
  width: 360px;
  padding: 96px 32px 32px 32px;
  background-color: #e54222;
  border-radius: 24px 8px 0 24px;
  box-shadow: -8px 8px 0 8px rgba(206, 34, 17, 1);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.pokedexHeaderDetails {
  position: absolute;
  top: 16px;
  left: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.pokedexHeaderDetails::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -50px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #000;
  background-color: #0cbdd2;
}

.pokedexHeaderDetails>span {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 2px solid #000;
}

.pokedexHeaderDetails span:nth-of-type(1) {
  background-color: rgb(206, 34, 17);
}

.pokedexHeaderDetails span:nth-of-type(2) {
  background-color: rgb(255, 204, 0);
}

.pokedexHeaderDetails span:nth-of-type(3) {
  background-color: rgb(42, 252, 152);
}

.bgTypeShadow {
  box-shadow: -1px 1px 0 1px rgb(50, 50, 50);
}

.bg_type_poison {
  background-color: #b97fc9;
}

.bg_type_electric {
  color: #333;
  background-color: #eed535;
}

.bg_type_fire {
  background-color: #fd7d24;
}

.bg_type_physic {
  background-color: #f366b9;
}

.bg_type_steel {
  background-color: #9eb7b8;
}

.bg_type_normal {
  background-color: #a4acaf;
}

.bg_type_ghost {
  background-color: #7b62a3;
}

.bg_type_ground {
  background-color: #ab9842;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.bg_type_fairy {
  background-color: #fdb9e9;
}

.bg_type_bug {
  background-color: #729f3f;
}

.bg_type_dragon {
  background-color: #53a4cf;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.bg_type_dark {
  background-color: #707070;
}

.bg_type_fighting {
  background-color: #d56723;
}

.bg_type_flying {
  background-color: #3dc7ef;
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.bg_type_grass {
  background-color: #9bcc50;
}

.bg_type_ice {
  background-color: #51c4e7;
}

.bg_type_rock {
  background-color: #a38c21;
}

.bg_type_water {
  background-color: #4592c4;
}